<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <i class="icon editing-icon-text"></i>
  </div>
  <div class="title">Text</div>

  <div class="description">
    Create a new Widget allowing you to insert Text
  </div>
</div>
