<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-1col"></span>
  </div>
  <div class="title">
    Image Panel for the Elastic Slider
  </div>
  <div class="description">
    Serves an image background panel for the Elastic Slider.
  </div>
</div>
