.scrivito_button.button-picker.box_white {background: #fff; color: #777; text-shadow: none;}
.scrivito_button.button-picker.box_grey {background: #fafafa;}
.scrivito_button.button-picker.box_green {background: #78c9a6;}
.scrivito_button.button-picker.box_blue {background: #465b66;}
