<div class="details-view">
  <%= scrivito_details_for 'Name' do %>
    <%= scrivito_tag :span, @obj, :name %>
  <% end %>

  <%= scrivito_details_for 'Title' do %>
    <%= scrivito_tag :span, @obj, :title %>
  <% end %>
</div>
