<div class="details-view editing-colours">
  <%= scrivito_details_for 'Select background colour' do %>
    <%= render 'scrivito_advanced_editors/color_picker', widget: widget, attribute: :colour %>
  <% end %>
</div>