<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-list"></span>
  </div>

  <div class="title">
    Coloured Background
  </div>

  <div class="description">
    Insert a coloured background and some content.
  </div>
</div>
