<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-text"></span>
  </div>

  <div class="title">
    Listitem
  </div>

  <div class="description">
    List item with headline, image and text.
  </div>
</div>
