  <div class="bg_darkgrey footer">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <ul>
            <li><a href="#">Imprint</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Copyright</a></li>
          </ul>
          <div class="social_icons">
            <a class="social_facebook" href="#" title="facebook"></a>
            <a class="social_google" href="#" title="google+"></a>
            <a class="social_twitter" href="#" title="twitter"></a>
            <a class="social_youtube" href="#" title="youtube"></a>
            <a class="social_rss" href="#" title="rss"></a>
          </div>
        </div>
        <div class="col-md-2">
          <p class="logo"></p>
          <div class="adress">
            Company SYSTEMS AG<br>
            12345 Berlin<br>
            Lorem, FL 33607 USA<br>
            Tel 123 13 1323<br>
            Fax 323 32 3232<br>
            <a href="#">info@company.com</a>
          </div>
        </div>
      </div>

    </div>
  </div>

