<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-list"></span>
  </div>
  <div class="title">
    Elastic Slider
  </div>
  <div class="description">
    Displays an elastic slider. Fill with Elastic Slider Panels.
  </div>
</div>
