<div class="details-view">
  <%= scrivito_details_for 'Select background colour' do %>
    <%= render 'scrivito_advanced_editors/color_picker', widget: widget, attribute: :colour %>
  <% end %>

  <%= scrivito_details_for 'Show shadow' do %>
    <%= scrivito_toggle_button_editor widget, :show_shadow %>
  <% end %>
</div>
