<div class="bg_blue footer">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <ul>
          <li><a href="#">Imprint</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Copyright</a></li>
        </ul>
        <div class="social_icons">
          <a href="#"><i class="foundicon-facebook"></i></a>
          <a href="#"><i class="foundicon-google-plus"></i></a>
          <a href="#"><i class="foundicon-twitter"></i></a>
          <a href="#"><i class="foundicon-pinterest"></i></a>
          <a href="#"><i class="foundicon-linkedin"></i></a>
          <a href="#"><i class="foundicon-youtube"></i></a>
          <a href="#"><i class="foundicon-flickr"></i></a>
          <a href="#"><i class="foundicon-slideshare"></i></a>
          <a href="#"><i class="foundicon-rss"></i></a>
        </div>
      </div>
      <div class="col-md-2">
        <p class="logo"></p>
        <div class="adress">
          Company SYSTEMS AG<br>
          12345 Berlin<br>
          Lorem, FL 33607 USA<br>
          Tel 123 13 1323<br>
          Fax 323 32 3232<br>
          <a href="#">info@company.com</a>
        </div>
      </div>
    </div>
  </div>
</div>

