<% if @obj.respond_to?('full_slider') && !@obj.full_slider.blank? %>
  <%= scrivito_tag :div, @obj, :full_slider %>
<% else %>
  <div class="teaser small">
    <img src="http://localhost:3000/assets/scriv-uno/teaser_06.jpg" alt="">
    <div class="container">
      <h1 class="h1"><i class="foundicon-globe2"></i><%= @obj.title %></h1>
    </div>
  </div>
<% end %>
