<% if @obj.respond_to?('full_slider') && !@obj.full_slider.blank? %>
  <%= scrivito_tag :div, @obj, :full_slider %>
<% else %>
  <div class="teaser small">
    <% if (@obj.respond_to?('header_image') && !@obj.header_image.blank?) || scrivito_in_editable_view? %>
      <%= scrivito_image_tag @obj, :header_image, data: {filter: 'images'} %>
    <% else %>
      <img src="<%= asset_path("scriv-uno/teaser_03.jpg") %>" alt="">
    <% end %>
    <div class="container">
      <h1 class="h1"><i class="foundicon-globe2"></i><%= @obj.title %></h1>
    </div>
  </div>
<% end %>
