<div class="details-view">
  <h4>Title</h4>
  <%= scrivito_tag :span, @obj, :title %>
  <h4>Header Image</h4>
  <%= scrivito_image_tag(@obj, :header_image, data: { filter: 'images' }) %>
  <h4>Header Icon</h4>
  <%= render 'icon_box_widget/partials/icons_picker', widget: @obj, attribute: :icon %>
  <h4>Show in Navigation?</h4>
  <%= scrivito_toggle_button_editor(@obj, "show_in_navigation", %w(yes no)) do |elem|
    scrivito_tag(:button, @obj, "show_in_navigation", class: "#{elem == @obj.send("show_in_navigation") ? 'active' : ''} #{elem}", data: {editor: 'scrivito-toggle-button', content: elem}) do
      elem
    end
  end %>
</div>
