<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-special"></span>
  </div>

  <div class="title">
    Content
  </div>

  <div class="description">
    Create an empty standard content page.
  </div>
</div>
