<div class="details-view">
  <h4>Link</h4>
  <%= scrivito_edit_link widget, :link %>
  <h4>Width (defaults to 100%)</h4>
  <%= scrivito_tag(:span, widget, :width) %>
  <h4>Height (defaults to 425px)</h4>
  <%= scrivito_tag(:span, widget, :height) %>
</div>
