<div class="details-view">
  <h4>Title</h4>
  <%= scrivito_tag(:span, @obj, :title) %>
  <h4>Show in Navigation?</h4>
  TODO: Editing enum values still unclear. No 'scrivito_edit_enum' existing (although the Docu knows it).
  And buttons do not seem to work.
  <% %w(yes no).each do |value| %>
    <% activeclass = (value == @obj.show_in_navigation) ? "active" : "" %>
    <%= scrivito_tag(:button, @obj, :show_in_navigation, class: "btn btn-default one-click-edit #{activeclass}") do %>
      <%= value %>
    <% end %>
  <% end %>
</div>
