<div class="button-picker-wraper">
  <% widget.selectable_color_classes("", "").each do |color| %>
    <%= scrivito_tag(:button, widget, attribute, class: "scrivito_button button-picker box_#{color} #{widget.send(attribute) == color ? "activated" : ""}", :"data-picker-content" =>  color, :"data-editor" => 'button-picker') do %><%= color %><% end %>
  <% end %>
</div>
