<div class="details-view">
  <%= scrivito_details_for 'Person' do %>
    <%= scrivito_edit_reference(widget, :person) %>
  <% end %>
  <%= scrivito_details_for 'Show Picture?' do %>
    <%= render partial: 'shared/toggle_buttons', locals: {obj: widget, attribute: "show_picture"} %>
  <% end %>
</div>
