<div class="details-view">
  <%= scrivito_details_for 'Person' do %>
    <%= scrivito_edit_reference(widget, :person) %>
  <% end %>
  <%= scrivito_details_for 'Show Picture?' do %>
    <%= scrivito_tag :div, @obj, :is_company %>
  <% end %>
</div>
