<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-list"></span>
  </div>

  <div class="title">
    Person Info
  </div>

  <div class="description">
    Person Info Container
  </div>
</div>
