<div class="blog_item short">
  <div class="blog_heading">
    <img alt="Gravatar" class="blog_item_image" src="<%= asset_path("scriv-uno/square_01.png") %>">
    <div class="blog_heading_content">
      <h4 class="h3"><a href="#<%= post_short.id %>"><span><%= post_short.title %></span></a></h4>
    </div>
  </div>
  <div class="blog_body"><%= post_short.summary.first(140) %></div>
</div>

