<div class="bg_white">
  <div class="container">
    <div class="row">

      <div class="col-md-9">
        <%= render partial: 'cms/breadcrumbs' %>
        <%= scrivito_tag :div, @obj, :content if @in_edit_mode || @obj.content.presence %>
        <%= render partial: 'blog/post', collection: @blogposts %>
      </div>

      <div class="col-md-3">
        <h4 class="h3">Latest Blog Posts</h4>
        <%= render partial: 'blog/post_short', collection: @blogposts %>
      </div>
    </div>
  </div>
</div><!-- /#content -->
