.white {
  background: #fff !important;
  color: #777;
  text-shadow: none;
}

.grey {
  background: #fafafa !important;
}

.green {
  background: #78c9a6 !important;
}

.blue {
  background: #465b66 !important;
}
