<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-image"></span>
  </div>

  <div class="title">
    Image
  </div>

  <div class="description">
    Widget that holds an image.
  </div>
</div>
